body{
    margin: 0;
    padding: 0;
}
#board{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url('../img/maps-2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: hidden;
    
}
#player{
    position: absolute;
    border-radius: 6em;
    transform: translate(-50%, -50%);
}
.zombie{
    position: absolute;
    border-radius: 6em;
    
}
.bonus{
    background-color: rgba(230, 175, 9, 0.993);
    position: absolute;
    border-radius: 6em;
}
.boss{
    position: absolute;
    border-radius: 6em;
}
#counter{
    position: fixed;
    font-size: 20em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
}

.bullet{
    position: absolute;
    background-color: black;
    border: 2em;
}